#player-health{
  background-color: green;
  height: 30px;
  width: 100%;
  transition: width 0.5s ease;
}

@keyframes borderAnimation {
  0% {
    border-color: transparent;
  }
  100% {
    border-color: red;
  }
}

#health-container{
  width: 50%;
  height: 30px;
  background-color: blue;
  margin: 40px 0 0 50px;
  border: 1px solid transparent;
  transition: border 0.2s ease;
}

#score-div{
  background-color: red;
  height: 30px;
  width: 150px;
  margin: 40px 50px 0 0;
  display: flex;
  align-items: center;
}

#score-div>h2{
  color:white;
  margin-left: 10px;
}

#container{
  position: relative;
  width: 1024px;
  height: 576px;
}

header{
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}